.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.journalContainer {
  padding-left: 30px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.post {
  width: 700px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 2px solid maroon;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: maroon;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: maroon;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*INDIVIDUAL ENTRY*/
.entryPage {
  padding-left: 30px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: table-column;
}

.entryContainer {
  display: table-row;
}

.entryText {
  width: 700px;

}

/* CREATE Entry PAGE CSS */

.writeEntryPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid maroon;
  border-radius: 5px;
}

.formContainer #inputJournalEntry {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: maroon ;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  color: maroon;
  background-color: lightblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: maroon;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.navbar a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.navbar a:hover {
  color:lightblue;
  border-bottom: 1px solid lightblue;
}

.appNameLoggedIn {
  margin-left: 430px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  }

.appNameLoggedOut{
  margin-left: 633px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 25px;
}

.navbar button {
  width: 60px;
  height: 30px;
  margin-top: -47px;
  background-color: maroon;
  display: flex;
  align-items: right;
  margin-left: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: underline;
  font-size: medium;
}
  
.navbar button:hover {
  background-color: maroon;
  color: lightblue;
  cursor: pointer;
}

.navbar h1 {
  padding-top: 0px;
  color: white;
}

.loggedInContainer {
  padding-top: 45px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: maroon;
  color: white;
}

.loginContainer button:hover {
  background-color: lightblue;
  color: maroon;
  border: 2px solid maroon;
  cursor: pointer;
}

.loginContainer input {
  border: 2px solid maroon;
}

/* REGISTRATION */
.registrationContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.registrationContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.registrationContainer button {
  background-color: maroon;
  color: white;
}

.registrationContainer button:hover {
  background-color: lightblue;
  color: maroon;
  border: 2px solid maroon;
  cursor: pointer;
}

.registrationContainer button:active {
  background-color: white;
  color: maroon;
  border: 2px solid maroon;
}

.registrationContainer input {
  border: 2px solid maroon;
}

/* JOURNAL ENTRY */
.writeEntryPage {
  padding-top: 123px;
}
.writeEntryContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.writeEntryContainer #inputJournalEntry {
  border: 2px solid maroon;
  height: 700px;
  width: 800px;
}

.writeEntryContainer label {
  padding-bottom: 12px;
}

.writeEntryContainer button {
  background-color: maroon;
  color: white;
}

.writeEntryContainer button:hover {
  background-color: lightblue;
  color: maroon;
  border: 2px solid maroon;
  cursor: pointer;
}

.writeEntryContainer button:active {
  background-color: white;
  color: maroon;
  border: 2px solid maroon
}

/* SEARCH BARS */
.searchBarContainer {
  padding-top: 20px;
}
.searchBar {
  width: 300px;
  height: 20px;
  border-radius: 8px;
  border: 2px solid maroon;
  margin: 10px;
}

.searchBar:hover {
  border: 2px solid black;
}

.searchBarContainer button {
  width: 65px;
  height: 25px;
  background-color: maroon;
  color: white;
}

.searchBarContainer button:hover {
  background-color: lightblue;
  color: maroon;
  border: 2px solid maroon;
  cursor: pointer;
}

.searchBarContainer button:active {
  background-color: white;
  color: maroon;
  border: 2px solid maroon;
}

/*CAMPAIGN*/
.campaignsContainer {
  padding-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 16px;
  max-width: 100%;
  margin: 0 auto;
}

.campaign {
  padding: 10px;
  border: 2px solid maroon;
  border-radius: 7px;
  width: 500px;
  background-color: maroon;
}

.campaign:hover {
  background-color: lightblue;
  color: maroon;
  border: 2px solid maroon;
  cursor: pointer;
}

.campaign:active {
  background-color: white;
  color: maroon;
  border: 2px solid maroon;
}

.campaignBody {
  font-size: 55px;
  color: white;
  align-content: center;
}

.campaignBody:hover {
  font-size: 55px;
  color: maroon;
  align-content: center;
}

/*CREATE CAMPAIGN*/
.createCampaignPage {
  padding: 30px;
}

/*PROFILE PAGE*/
.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  height: auto; 
}

.profilePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.topContainer {
  display: flex;
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}

.userInfoContainer, .friendsListContainer, .friendRequestsContainer, .campaignListContainer, .invitedCampaignsContainer {
  box-sizing: border-box;
  width: 50%;
  height: 33vh;
  border: 1px solid #ccc;
  padding: 10px;
  padding-bottom: 60px;
  position: relative;
}

.invitedCampaignsContainer{
  width: 30%;
}

.userInfoContainer, .friendsListContainer, .friendRequestsContainer, .campaignListContainer, .invitedCampaignsContainer {
  overflow: hidden; 
}

.addFriendContainer {
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
}

.addFriendContainer:hover {
  background-color: #e7e7e7;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userIcon {
  max-width: 90%;
  max-height: 50%;
  margin-bottom: 10px;
}

.userInfo {
  text-align: center;
}

.userName, .userEmail {
  margin-top: 5px;
}

.friendsListContainer, .campaignListContainer, .invitedCampaignsContainer {
  overflow-y: auto;
}

.campaignListContainer {
  width: 70%;
}

.friendName, .campaignContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}



.friendImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* .invitedCampaignsContainer {
  flex: 1;
  border: 1px solid #ccc;
  width: 30%
} */

/* .campaignContainer, .invitedCampaignRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px
} */

.campaignRow{
  width: 50%;
}

.campaignInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.campaignInfo:hover {
  background-color: #e0e0e0;
}

.invitePlayerButton, .updateCampaignRequestButton {
  background-color: maroon;
  color: white;
}

.updateCampaignRequestButton, .invitePlayerButton:hover{
  cursor: pointer;
  background-color: lightblue;
  color: maroon;
}

.sendPlayerInviteButton {
  background-color: maroon;
  color: white;
}

.sendPlayerInviteButton:hover{
  cursor: pointer;
  background-color: lightblue;
  color: maroon;
}


.createCampaignContainer {
  margin: 0;
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.createCampaignContainer:hover {
  background-color: #e7e7e7;
}

.campaignTitle {
  width: 70%;
  margin-right: 10px;
}

.playerIcons {
  display: flex;
  align-items: center;
}

.playerIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.ellipsis {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.bottomContainer {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.friendRequestsContainer {
  width: 50%;
  height: 33vh;
  border: 1px solid #ccc;
  padding: 10px;
  padding-bottom: 60px;
  position: relative;
  overflow-y: auto;
}

.friendRequestsHeader, .invitedCampaignsHeader {
  background-color: maroon;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.friendRequestsTitle {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  text-align: center;
}

.friendRequest, .invitedCampaignRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

.friendRequest img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.friendRequest button {
  padding: 5px 15px;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  background-color: maroon;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.friendRequest button:hover {
  background-color: lightblue;
  color: maroon;
}

.invitedCampaignRow button {
  padding: 5px 15px;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  background-color: maroon;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.invitedCampaignRow button:hover {
  background-color: lightblue;
  color: maroon;
}

.addFriendContainer, .createCampaignContainer {
  background-color: #f8f8f8;
  cursor: pointer;
}

.addFriendContainer:hover, .createCampaignContainer:hover {
  background-color: #e7e7e7;
}

.userInfoContainer, .friendsListContainer, .friendRequestsContainer, .campaignsContainer {
  height: auto;
  padding-bottom: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 2px solid maroon;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}